table.tablesorter {
	background-color: #ffffff;
	width: auto;
}
table.tablesorter th {
	text-align: left;
	background-color: #ffffff;
}
table.tablesorter .even {
	background-color: #ffff00;
}
table.tablesorter .odd {
	background-color: #ffffff;
}
table.tablesorter .header {

	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(/img/down.gif);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(/img/up.gif);
	background-repeat: no-repeat;
}