<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd                       
	                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http access-denied-page="/login/access_denied.htm">
		<security:form-login login-page="/login/login.jsp" />
		<security:logout logout-success-url="/login/logout.htm" />
		<security:intercept-url pattern="/login/**" filters="none" />
		<security:intercept-url pattern="/auctions/**" access="ROLE_AUCTIONEER" />
		<security:intercept-url pattern="/**" access="IS_AUTHENTICATED_FULLY" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:user-service properties="/WEB-INF/users.properties" />
		</security:authentication-provider>
	</security:authentication-manager>


	<context:component-scan base-package="no.arktekk.training.spring">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<bean id="dataSource" class="no.arktekk.training.spring.config.TestDataSourceFactoryBean" />
	<bean class="no.arktekk.training.spring.config.TestDataPopulator" />

</beans>
